body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  /* width: 100%; */
  border: 1px solid rgb(205, 45, 45);
}

.App {
}

/* Login Form || Signup Form*/
.login {
  height: 100%;
  background: #8080802b;
}

.login .column {
  max-width: 450px !important;
}

a {
  margin-left: 3px;
}

/* side panel */
.pusher {
  transform: translate3d(222px, 0, 0) !important;
}

/* drop down menu */
.ui.dropdown .menu {
  left: -35px !important;
}

.item {
  margin-top: 15px;
  color: green;
}

/* channels */

.channels {
  width: 100%;
  display: flex;
  color: rgb(122, 122, 122);
}

.channels .channels-icon {
  flex: 1;
}
.add-icon:hover {
  color: white;
}

.channel-lists {
  width: 100%;
  text-align: justify;
  padding: 10px 15px 10px 15px;
}

.channel-list span:hover{
color: blueviolet!important;
}

.ui.inverted.menu a.item:hover{
  background: rgba(255, 255, 255, 0)!important;
}

/* Pusher */
.nine{
  width: 54.25%!important;
}


/* scrollbar styles */
::-webkit-scrollbar {
  width: 8px!important; /* width of the scrollbar */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555555c0!important; /* color of the scrollbar handle on hover */
}

::-webkit-scrollbar-thumb {
  /* background-color: #999!important; color of the scrollbar handle */
  border-radius: 15px!important; /* rounded corners for the scrollbar handle */
}

::-webkit-scrollbar-button {
  display: none!important; /* hide the scrollbar button */
}

/* content */

.msg-content{
    background: #c9d8eb;
    width: max-content;
    padding: 7px 25px 5px 13px;
    border-radius: 18px 0px;
    margin-left: 15px;
}

.msg-content i{
  
    font-size: 9px;
    position: relative;
    bottom: -7px;
    left: 7px;

}

.mag-content strong{
    color: #0c0c0c;
    letter-spacing: 0.1px;
    font-family: 'Lato';
}


/* avtar image */
.ui.tiny.image{
  width: 2em!important;
}

/* metapanel */
.meta-content p{
  padding: 0px 5px 0px 28px!important;
}
