body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  /* width: 100%; */
  border: 1px solid rgb(205, 45, 45);
}

.App {
}

/* Login Form || Signup Form*/
.login {
  height: 100%;
  background: #8080802b;
}

.login .column {
  max-width: 450px !important;
}

a {
  margin-left: 3px;
}

/* side panel */
.pusher {
  transform: translate3d(222px, 0, 0) !important;
}

/* drop down menu */
.ui.dropdown .menu {
  left: -35px !important;
}

.item {
  margin-top: 15px;
  color: green;
}

/* channels */

.channels {
  width: 100%;
  display: flex;
  color: rgb(122, 122, 122);
}

.channels .channels-icon {
  flex: 1;
}
.add-icon:hover {
  color: white;
}

.channel-lists {
  width: 100%;
  text-align: justify;
  padding: 10px 15px 10px 15px;
}

.channel-list span:hover{
color: blueviolet!important;
}

.ui.inverted.menu a.item:hover{
  background: rgba(255, 255, 255, 0)!important;
}

/* Pusher */
.nine{
  width: 54.25%!important;
}

/* .pusher{
  background-color: red!important;
  width: auto!important;
} */